*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  font-family: "Poppins";
}

body .bg-light {
  background-color: #5379f61a;
}

body .mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5379f61a;
}

body .mainnav .navbar {
  width: 100%;
}

body .mainnav .navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.863);
}

body .mainnav .navbar-light .navbar-nav .nav-link.active, body .mainnav .navbar-light .navbar-nav .show > .nav-link {
  color: #5379F6;
  font-weight: bold;
}

body .navbar-brand {
  font-weight: bold;
}

body .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1.5rem;
}

body .container .row .col .header {
  line-height: .1rem;
  padding-bottom: 1rem;
}

body .container .row .col .header h4 {
  color: #958B8B;
}

body .container .row .col .callToAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

body .container .row .col .callToAction .explore {
  margin-bottom: 0px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #958B8B;
  -webkit-text-decoration-color: #958B8B;
          text-decoration-color: #958B8B;
}

body .container .row .col .callToAction button {
  margin-right: 1.8rem;
  width: 10rem;
  color: #fff;
  background-color: #5379F6 !important;
}

body .container .row .col .banner-img {
  padding-top: 1rem;
  width: auto;
  height: auto;
}

body .info {
  background-color: #4b72f1ea;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}

body .about {
  background-color: #f3e7e7;
  height: 100vh;
  width: 100%;
}

body .info .container1{
  background-color: #4b72f1ea;
  border-radius: 1.6rem;
  height: 22rem;
  width: 18rem;
  margin: 0 6rem;
  text-align: center;
  padding: 172px 0 0px;
  border-radius: 30px;
background: #4b72f1;
box-shadow:  20px 20px 41px #2b4189,
             -20px -20px 41px #6ba3ff;
}




body footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  text-align: start;
  padding: 1rem;
  background-color: #958B8B;
  color: #000;
}
/*# sourceMappingURL=main.css.map */

body footer a img{
  
  height: 1.8rem;
  width: 100%;
}